* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*police et couleur principale des textes*/
body{
    font-family:"Poppins", sans-serif;
    color:black;
}
/*Largeur maximale des éléments et centrage du container*/
.container{
    max-width: 667px;
    height: 375px;
    margin: 0 auto;
    border: 1px solid;
}

.mt-25{
    margin-top: 25px;
}
.mt-50{
    margin-top: 50px;
}
.ml-10{
    margin-left: 10px;
}
.cotation{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
#cotation{
    width:155px;
    height: 50px;
    border: 2px solid;
    margin-left: 5px;
    font-size: 24px;
    font-weight: bold;
}
.demande{
    display: flex;
    justify-content: space-around;
}
.dev-montant{
    display: flex;
    align-items: last baseline;
}
.mp{
    display: flex;
    flex-direction: column;/*on place la label au dessus du champs*/
    align-items: flex-start;/*on aligne le label et le champs sur la gauche du conteneur*/
}
.devises{
    width: 95px;
    height: 50px;
    border: 2px solid;
    font-size: 24px;
    font-weight: bold;
}
.montant{
    width: 190px;
    height: 40px;
    border: 2px solid;
    font-size: 20px;
    font-weight: bold;
}
.client-chat{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.id-client{
    margin-left: 30px;
    display: flex;
    flex-direction: column;/*on place la label au dessus du champs*/
    align-items: flex-start;/*on aligne le label et le champs sur la gauche du conteneur*/
}
.client{
    width: 300px;
    height: 40px;
    border: 2px solid;
}
.btn{
    padding:12px 24px;
    letter-spacing: 2px;
    background-color: #D5D53D;
    border-radius: 24px;
    color:black;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s ease;
}
.btn:hover{
    opacity: 0.7;
}

/*Cotation client*/
.recap-cotation-client{
    display: flex;
    justify-content: space-around;

}
.container-cotation{
    display: flex;
    align-items: end;
}
.icon{
    width: 25px;
    height:25px;
    margin-left: 10px;
}
.cotation-client{
    width: 155px;
    height: 50px;
    border: 2px solid;
}
.client-client{
    width: 300px;
    height: 50px;
    border: 2px solid;
    margin-right: 10px;
}
.btn-marge{
    width: 125px;
    padding:12px 24px;
    letter-spacing: 2px;
    background-color: green;
    color:white;
    font-size: 16px;
    cursor: pointer;
}
.marge-cours{
    display: flex;
    align-items: center;
}
.mp-gain{
    margin-left: 20px;
}
.cours{
    width: 125px;
    height: 50px;
    border: 2px solid;
}
.INF{
    margin-left: 20px;
}
.btn-envoi{
    margin-top: 25px;
    margin-left: 70px;
}


